@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Paaji+2:wght@400;600&display=swap');

body {
    font-family: 'Baloo Paaji 2', cursive;
    font-weight: 800;
    padding: 0;
    margin: 0;
}

header {
    position: fixed;
    padding: 10px;
    width: 100%;
    transition: background-color 0.3s ease-in-out;
    z-index: 1000;
}

header.transparent {
    background-color: transparent;
    color: white;
}

header.visible {
    background-color: #fff;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    transition: color 0.3s ease-in-out;
}

.menu-container {
    display: flex;
    align-items: center;
    position: relative;
    justify-content: space-between;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    margin-left: 40px;
}

.lang-menu select {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
}

.menu-icon {
    display: none;
    font-size: 24px;
    cursor: pointer;
}

.nav-menu {
    margin-left: auto;
    cursor: pointer;
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 0;
}

.lang-menu {
    padding-left: 20px;
    padding-right: 40px;
    font-size: 14px;
}

.nav-menu li, .lang-menu li {
    display: inline;
}

.nav-a {
    text-decoration: none;
    transition: color 0.3s ease-in-out;
    padding: 10px 20px;
    color: white;
}

header.visible .nav-a {
    color: black;
}

.nav-a:hover {
    text-decoration: none;
    color: white;
    background-color: #4077e6;
    padding: 10px 20px;
    border-radius: 8px;
}

.nav-contact {
    text-decoration: none;
    color: white;
    background-color: #4077e6;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 8px;
}

.nav-contact:hover {
    text-decoration: none;
    color: black;
    background-color: white;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 8px;
}

#home {
    display: flex;
    align-items: center;
    padding: 70px;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("tessssssss.jpg");
    text-shadow: 0px 4px 6px black;
    letter-spacing: 2px;
    color: white;
}

#home > div {
    flex: 1;
}

#home h1 {
    font-size: 44px;
}

#home h2 {
    font-size: 88px;
    margin-top: -70px;
}

#home p {
    font-family: 'Open Sans', sans-serif;
    margin-top: -100px;
    font-size: 44px;
    font-weight: 200;
}

#home a {
    background-color: #4077e6;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 8px;
    margin-right: 10px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 200;
    text-shadow: none;
}

#home a:hover {
    background-color: #248cfa;
    font-family: 'Open Sans', sans-serif;
    font-weight: 200;
}

#home a:last-child {
    background-color: transparent;
}

.about-container {
    display: flex;
    align-items: center;
    height: 100vh;
    
}

.about-image {
    flex: 0 0 50%;
    text-align: center;
    margin-top: -70px;
}

.about-image img {
    max-width: 35%;
    height: auto;
    border-radius: 20%;
}

.abouttitle {
    font-family: 'Baloo Paaji 2', cursive;
    font-weight: 800;
    letter-spacing: 2px;
}

.about-text {
    flex: 1;
    padding-right: 2px;
    margin-right: 50px;
    text-align: justify;
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
    letter-spacing: 2px;
    line-height: 30px;
}

.about-text h2 {
    font-size: 2.1em;
    margin-bottom: 20px;
    /* color: #e7843d; */
    text-shadow: 1px 1px 2px black;
}

.btn-about {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4077e6;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}
.btn-about:hover{
    display: inline-block;
    padding: 8px 18px;
    background-color: white;
    color: #4077e6;
    text-decoration: none;
    border-radius: 5px;
    border: 2px solid ;
    transition: background-color 0.4s ease;
}

.btn-secondary:hover {
    background-color: #0056b3;
}

.nav-menu.active {
    display: flex;
}
/* what ido */


.service {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    width: 200px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.service:hover {
    transform: translateY(-10px);
}

.service img {
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
}



/* portfolio */
.portfolio-container {
    display: flex;
    overflow-x: auto;
    padding: 50px;
    overflow: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    margin-bottom: 50px;
    /* background-color: #e7843d; */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.portfolio-item {
    flex: 0 0 auto;
    width: 300px;
    margin-right: 20px;
    background: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.portfolio-item img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.portfolio-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.btn-primary, .btn-secondary {
    padding: 10px 20px;
    text-decoration: none;
    color: #fff;
    border-radius: 5px;
}

.btn-primary {
    background: #007bff;
}

.btn-secondary {
    background: #6c757d;
}
/*  */



/* contact */
.contact-container {
    display: flex;
    justify-content: space-between; /* Space between elements */
    align-items: center;
    height: 100vh;
    border-radius: 20px;
    padding: 20px; /* Add some padding for better spacing */
    flex-direction: row; /* Default to row layout */
    gap: 20px; /* Add space between elements */
}

.contact-info,
.contact-form {
    background-color: white;
    padding: 30px 40px;
    border-radius: 8px;
    box-shadow: 0 4px 6px 2px rgba(0, 0, 0, 0.1);
    margin: 10px;
    width: 100%; /* Ensure full width on mobile */
}

.contact-info {
    flex: 1;
    max-width: 300px; /* Apply max-width for larger screens */
}

.contact-info h2 {
    color: black;
    padding: 10px;
    letter-spacing: 1.5px;
    text-align: center;
}

.contact-info p {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.contact-info img {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

.contact-form {
    flex: 2;
    max-width: 500px; /* Apply max-width for larger screens */
}

.contact-form h2 {
    color: black;
    text-align: center;
}

.contact-form label {
    display: block;
    margin: 10px 2px 5px;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.contact-form button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.contact-form button:hover {
    background-color: #0056b3;
}



